header, nav, main, footer {
    max-width: 75rem;
    margin: auto;
    button{display: none;}
}


//NAV
nav {
    justify-self: end;
    width: 200px;
    ul, ul.open {
        position: relative;
        display: flex;
        top: 0;
        margin: 0;
        width: auto;
    }

}





//main
.hero {
    div{
        bottom: 0;
        top: auto;
        background: linear-gradient(0deg, rgba(37,37,37,0.9) 0%, rgba(55,55,55,0) 100%);
        h3{
            text-align: left;
            font-size: 1.8rem;
            padding-left:1rem;
            margin-left: 0;
        }
    }
}


//create for loop
@for $i from 1 through 12 {
    $w: calc($i / 12) *100%;
    .large-#{$i} {flex-basis: $w;}
}
