$primaryColor: #21212b;
$secondaryColor: #b23f61;
$fontColor: #333;
$backgroundColor: #f2eff4;

$defaultFont: "Schibsted Grotesk", sans-serif;
$headingFont: "Manrope", sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;